error_log
*.log
node_modules/
.env
vendor/graham-campbell/result-type/.gitattributes
vendor/graham-campbell/result-type/.github/CODE_OF_CONDUCT.md
vendor/graham-campbell/result-type/.github/CONTRIBUTING.md
vendor/graham-campbell/result-type/.github/FUNDING.yml
vendor/graham-campbell/result-type/.github/SECURITY.md
vendor/graham-campbell/result-type/.github/workflows/tests.yml
vendor/graham-campbell/result-type/CHANGELOG.md
vendor/graham-campbell/result-type/phpunit.xml.dist
vendor/graham-campbell/result-type/README.md
vendor/graham-campbell/result-type/tests/ResultTest.php
vendor/phpoption/phpoption/.gitattributes
vendor/phpoption/phpoption/.github/CODE_OF_CONDUCT.md
vendor/phpoption/phpoption/.github/CONTRIBUTING.md
vendor/phpoption/phpoption/.github/FUNDING.yml
vendor/phpoption/phpoption/.github/SECURITY.md
vendor/phpoption/phpoption/.github/workflows/static.yml
vendor/phpoption/phpoption/.github/workflows/tests.yml
vendor/phpoption/phpoption/Makefile
vendor/phpoption/phpoption/phpstan-baseline.neon
vendor/phpoption/phpoption/phpstan.neon.dist
vendor/phpoption/phpoption/phpunit.xml.dist
vendor/phpoption/phpoption/psalm-baseline.xml
vendor/phpoption/phpoption/psalm.xml
vendor/phpoption/phpoption/README.md
vendor/phpoption/phpoption/tests/bootstrap.php
vendor/phpoption/phpoption/tests/PhpOption/Tests/EnsureTest.php
vendor/phpoption/phpoption/tests/PhpOption/Tests/LazyOptionTest.php
vendor/phpoption/phpoption/tests/PhpOption/Tests/NoneTest.php
vendor/phpoption/phpoption/tests/PhpOption/Tests/OptionTest.php
vendor/phpoption/phpoption/tests/PhpOption/Tests/SomeTest.php
vendor/phpoption/phpoption/vendor-bin/phpstan/composer.json
vendor/phpoption/phpoption/vendor-bin/psalm/composer.json
vendor/vlucas/phpdotenv/.editorconfig
vendor/vlucas/phpdotenv/.gitattributes
vendor/vlucas/phpdotenv/.github/CODE_OF_CONDUCT.md
vendor/vlucas/phpdotenv/.github/CONTRIBUTING.md
vendor/vlucas/phpdotenv/.github/FUNDING.yml
vendor/vlucas/phpdotenv/.github/SECURITY.md
vendor/vlucas/phpdotenv/.github/workflows/static.yml
vendor/vlucas/phpdotenv/.github/workflows/tests.yml
vendor/vlucas/phpdotenv/Makefile
vendor/vlucas/phpdotenv/phpstan-baseline.neon
vendor/vlucas/phpdotenv/phpstan.neon.dist
vendor/vlucas/phpdotenv/phpunit.xml.dist
vendor/vlucas/phpdotenv/psalm-baseline.xml
vendor/vlucas/phpdotenv/psalm.xml
vendor/vlucas/phpdotenv/README.md
vendor/vlucas/phpdotenv/tests/Dotenv/DotenvTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Loader/LoaderTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Parser/EntryParserTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Parser/LexerTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Parser/LinesTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Parser/ParserTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Repository/Adapter/ArrayAdapterTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Repository/Adapter/EnvConstAdapterTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Repository/Adapter/PutenvAdapterTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Repository/Adapter/ServerConstAdapterTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Repository/RepositoryTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/Store/StoreTest.php
vendor/vlucas/phpdotenv/tests/Dotenv/ValidatorTest.php
vendor/vlucas/phpdotenv/tests/fixtures/env/assertions.env
vendor/vlucas/phpdotenv/tests/fixtures/env/booleans.env
vendor/vlucas/phpdotenv/tests/fixtures/env/commented.env
vendor/vlucas/phpdotenv/tests/fixtures/env/empty.env
vendor/vlucas/phpdotenv/tests/fixtures/env/example.env
vendor/vlucas/phpdotenv/tests/fixtures/env/exported.env
vendor/vlucas/phpdotenv/tests/fixtures/env/immutable.env
vendor/vlucas/phpdotenv/tests/fixtures/env/integers.env
vendor/vlucas/phpdotenv/tests/fixtures/env/large.env
vendor/vlucas/phpdotenv/tests/fixtures/env/multibyte.env
vendor/vlucas/phpdotenv/tests/fixtures/env/multiline.env
vendor/vlucas/phpdotenv/tests/fixtures/env/multiple.env
vendor/vlucas/phpdotenv/tests/fixtures/env/mutable.env
vendor/vlucas/phpdotenv/tests/fixtures/env/nested.env
vendor/vlucas/phpdotenv/tests/fixtures/env/quoted.env
vendor/vlucas/phpdotenv/tests/fixtures/env/specialchars.env
vendor/vlucas/phpdotenv/tests/fixtures/env/unicodevarnames.env
vendor/vlucas/phpdotenv/tests/fixtures/env/utf8-with-bom-encoding.env
vendor/vlucas/phpdotenv/tests/fixtures/env/windows.env
vendor/vlucas/phpdotenv/UPGRADING.md
vendor/vlucas/phpdotenv/vendor-bin/phpstan/composer.json
vendor/vlucas/phpdotenv/vendor-bin/psalm/composer.json
